<div class="container text-center">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the app component page</h3>
            <input type="text" class="form-control" (input)="onUserInput($event)">
            <p>{{inputText}}</p>
            <hr>
            <app-success-alert *ngIf="isButtonActive"></app-success-alert>
            <hr>
            <app-warning-alert  *ngIf="!isButtonActive"></app-warning-alert>
            <input type="text" class="form-control" [(ngModel)]="inputText"> <!-- this is example of two-way-data-binding -->
            <p>{{inputText}}</p>
            <p>{{onClickStatus}}</p>
            <button class="btn btn-outline-primary" [disabled]="!isButtonActive" (click)="onClick()">Add Alert Component</button>
            <hr>
            <p *ngIf="isButtonActive; else elseElement">Button is Active</p>
            <ng-template #elseElement>Button is Not Active</ng-template>
            <p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{greenColor: getColor() === 'green'}">Status</p>
        </div>
    </div>
</div>